@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 88%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 88%;

    --popover: 0 0% 8%;
    --popover-foreground: 0 0% 88%;

    --primary: 180 100% 50%;
    --primary-foreground: 0 0% 4%;

    --secondary: 0 0% 11%;
    --secondary-foreground: 0 0% 88%;

    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 46%;

    --accent: 300 100% 50%;
    --accent-foreground: 0 0% 4%;

    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 4%;

    --border: 0 0% 23%;
    --input: 0 0% 11%;
    --ring: 180 100% 50%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/******************************************* 
  Rich Text Styles
*******************************************/ 

/* Headers */
.rich-text h1 {
  @apply text-4xl font-bold mb-4 text-primary;
}

.rich-text h2 {
  @apply text-3xl font-bold mb-4 text-primary;
}

.rich-text h3 {
  @apply text-2xl font-bold mb-4 text-primary;
}

.rich-text h4 {
  @apply text-xl font-bold mb-4 text-primary;
}

.rich-text h5 {
  @apply text-lg font-bold mb-4 text-primary;
}

.rich-text h6 {
  @apply text-base font-bold mb-4 text-primary;
}

/* Horizontal rules */
.rich-text hr {
  @apply border-accent-foreground my-8;
}

.rich-text a {
  @apply text-primary underline;
}

/* Typographic replacements */
.rich-text p {
  @apply mb-4 text-lg text-muted-foreground;
}

/* Emphasis */
.rich-text strong {
  @apply font-bold text-gray-300;
}

.rich-text em {
  @apply italic;
}

.rich-text del {
  @apply line-through;
}

/* Blockquotes */
.rich-text blockquote {
  @apply border-l-4 border-accent-foreground pl-4 py-2 mb-4;
}

/* Lists */
.rich-text ul {
  @apply list-disc pl-4 mb-4;
}

.rich-text ol {
  @apply list-decimal pl-4 mb-4;
}

.rich-text li {
  @apply mb-2 text-muted-foreground;
}

.rich-text li > ul {
  @apply list-disc pl-4 mb-2;
}

.rich-text li > ol {
  @apply list-decimal pl-4 mb-2 text-muted-foreground;
}

/* Code blocks */
.rich-text pre {
  @apply font-mono bg-gray-900 text-gray-200 rounded p-4  my-6;
}

.rich-text code {
  @apply font-mono bg-gray-900 text-gray-200 rounded px-2 py-1;
}

/* Tables */
.rich-text table {
  @apply w-full border-collapse border-gray-300 my-6;
}

.rich-text th {
  @apply bg-gray-900 text-left py-2 px-4 font-semibold border-b border-gray-300;
}

.rich-text td {
  @apply py-2 px-4 border-b border-gray-300;
}

/* Images */
.rich-text img {
  @apply w-full object-cover rounded-xl my-6;
}

/* Custom containers */
.rich-text .warning {
  @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
}

